@import "tailwindcss";

@source "./component/**/*.{js,jsx,ts,tsx}";
@source "./App.jsx";
@source "./main.jsx";

/* Custom Modern Emerald Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #064e3b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}

::selection {
  background-color: rgba(52, 211, 153, 0.35);
  color: #a7f3d0;
}